.Feedback {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; /* Adjust height as needed */
}

.comments-display {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedback-scroll {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 500px; /* Set a fixed height to make it scrollable */
  overflow-y: auto;
  padding-right: 10px; /* Add padding to avoid scrollbar overlap */
  scrollbar-color: #555 #1a1a1a; /* For Firefox */
}

/* For WebKit browsers */
.feedback-scroll::-webkit-scrollbar {
  width: 8px;
}

.feedback-scroll::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.feedback-scroll::-webkit-scrollbar-track {
  background: #1a1a1a;
}
